<% @tracks.each do |track| %>
  <div class="track">
    <h3><a href="/tracks/<%= track.id %>"><%= track.songtitle %></a> <small>(by: <%= track.author %>)</small></h3>
    <p>
      <a href="<%= track.url %>" target="new"><%= track.url %></a>
    </p>

    <p>
      <form action="/tracks/<%= track.id %>/upvotes" method="post">
        <input type='submit' value='Upvote'> (<%= track.upvotes.count %> votes)
      </form>
    </p>

  </div>
<% end %>

<a href="/tracks/new">Add a track!</a>
